@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: mediumseagreen;
    margin: 0 !important;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header {
    background-color: black;
    color: whitesmoke;
    left: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.navs {
    background-color: black;
    overflow: hidden;
}

.navs > a {
    float: left;
    display: flex;
    height: 52px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav > a:hover {
    background-color: whitesmoke;
    color: black;
}

.topnav > a.active {
    background-color: whitesmoke;
    color: black;
}

.topnav > a:first-child {
    float: right;
    padding: 0;
    margin: 0;
}

.botnav a {
    height: 52px;
    filter: contrast(0);
    align-items: center;
}

.botnav a:hover {
    filter: none;
}

.footer {
    background-color: black;
    bottom: 0;
    color: whitesmoke;
    left: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 100%;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: auto;
    padding: 7rem 0 2rem 6rem;
}

#headerH2 {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#sobera {
    max-width: 100%;
    height: auto;
}

#cartaAlta {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.jugador {
    height: 12rem;
    width: auto;
    margin: 2px;
    padding: 0.5rem;
    background-color: black;
}

.carta {
    height: 12rem;
    width: auto;
    margin: 2px;
    padding: 0.5rem;
    border-radius: 10px;
}

.jugador1.j1, .jugador2.j2  {background-color: lawngreen;}

.empate {background-color: dodgerblue;}

.ganador {
    border: 2px solid yellowgreen;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 2rem;
}

.flex__container {
    display: flex;
    flex-direction: column;
}

.flex__item {
    border: 3px solid yellowgreen;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
}

.flex__item.flex__container {
    display: flex;
    flex-direction: row;
}

.jugadores {
    flex-grow: 2;
}