@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 1.5;
	background-color: whitesmoke;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1rem;
	background-color: white;
}

table th,
table td {
	border: 1px solid black;
	padding: 0.5rem;
	text-align: left;
}

ol {
	line-height: 2;
}

ol li {
	list-style-type: none;
	counter-increment: item;
}

ol li:before {
	content: counter(item);
	display: inline-block;
	width: 12px;
	height: 20px;
	margin-right: 5px;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 120%;
	padding: 0 12px 8px;
	border-radius: 3px;
	line-height: 1.3;
	text-align: center;
}

li a {
	color: black;
	text-decoration: none;
}

li a:first-child {
	display: inline-block;
	width: 16rem;
}

li a:hover {
	background-color: white;
}

li img, td img {
	height: 1em;
	width: 1em;
}

label {
	display: inline-block;
	width: 10em;
	text-align: right;
	margin-right: 1em;
}

.myButton {
	background-color: #efefef;
	border: 1px solid gray;
	border-radius: 3px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.8rem;
	padding: 0.1em 0.9em;
	cursor: pointer;
}

.myButton:hover , #volver:hover {
	background-color: #d0d0d0;
}

span.error {
	color: red;
}

#volver {
	background-color: #efefef;
	border: 1px solid gray;
	border-radius: 3px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	margin-top: 1rem;
	display: inline;
	float: right;
	
	font-size: 0.8rem;
	padding: 0.1em 0.9em;
	cursor: pointer;
}